@font-face {
    font-family: 'Open Sans Regular';
    src: local('Open Sans Sans'), local('Open Sans-Regular'), url('OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}